@import "./common/_variables";
@import "./common/_reset";
@import "./common/_mixins";
@import "./common/_defines";

html {
    width: 100%;
    min-height: 100vh;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
    font-family: $fontFamilyMincho;
}

.Main {
    position: relative;
    display: grid;
    width: 100%;
    min-height: 100vh;
    height: 100%;
    grid-template:
        "one  one   two " 200px
        "four three two" 1fr
        "four five  five" 150px /
        150px 1fr 300px;
    gap: 20px 10px;
    background: #fff;

    @include notSp {
        grid-template:
            "one  two   two " 1fr
            "one  three four" 10vw
            "five five  four" 1fr /
            1fr 10vh 1fr;
        gap: 20px 10px;
    }
}

.panel {
    position: relative;
    display: grid;
    width: 100%;
    height: 100%;
    grid-template:
        "oone   oone  ttwo " 1fr
        "tthree ffour ttwo " 1.5fr
        "tthree ffive ffive" 1fr /
        1fr 1.5fr 1fr;
    padding: 2px;
    gap: 1px 4px;
    border-radius: 4px;
    border: solid 1px #000;
}

.panel:first-child {
    grid-area: one;
    background: #ff0a;
}

.panel:nth-child(2) {
    grid-area: two;
    background: #f0fa;
}

.panel:nth-child(3) {
    grid-area: three;
    background: #0ffa;
}

.panel:nth-child(4) {
    grid-area: four;
    background: #f90a;
}

.panel:last-child {
    grid-area: five;
    background: #90fa;
}

.block {
    position: relative;
    border: solid 1px #000;
    border-radius: 4px;
}

.block:first-child {
    grid-area: oone;
    background: #0007;
}

.block:nth-child(2) {
    grid-area: ttwo;
    background: #0007;
}

.block:nth-child(3) {
    grid-area: tthree;
    background: #0007;
}

.block:nth-child(4) {
    grid-area: ffour;
    background: #0007;
}

.block:last-child {
    grid-area: ffive;
    background: #0007;
}

.Test {
    position: relative;
    display: grid;
    width: 200px;
    height: 300px;
    grid-template:
        "TestOne" 1fr
        "TestTwo" 50px /
        1fr;
    background: #fff;

    @include notSp {
        grid-template:
            "TestOne TestTwo" 1fr /
            1fr 50px;
    }
}

.TestOne {
    grid-area: TestOne;
    background: #ff0;
}

.TestTwo {
    grid-area: TestTwo;
    background: #f0f;
}
